html,
body {
  height: 100vh;
  overflow: hidden;
}


  div.body {
      background-color: rgba(150, 49, 49, 0.925);
      height: 100%;
      width: 100%;
      font-size: 30px;
      justify-content: center; 
      align-items: center;
      display: flex;
      
  }

  div.in {
      background-color: hsl(0, 0%, 100%);
      width: 380px;
      height: 390px;
      justify-content: center;
      align-items: center;
      align-content: center;
      display: flex;
      border-radius: 10%;
      animation: move 2s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
        border-radius: 20px;
        box-shadow:20px 20px 10px;
        box-sizing: border-box;

  }

  div.put {
    background-color: #080802f1;
    width: 400px;
    height: 410px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    border-radius: 25%;
    animation: move 2s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
  }

  
  

  

div.block2 {
display: flex;
height: 40px;
      width: 40px;
      border-radius: 20%;
      
      background-color: #d6211af1;
      position: relative;
      align-items: flex-start;
      justify-content: flex-start;
}



.block2 li {
    width: 40px;
    height: 40px;
    background-color: none;
    display: block;
    position: absolute;
  bottom: -70px;
  border-radius: 20%;
  animation: up 0.2ms infinite;
  animation-direction: alternate;
  background-image: url("./src/wifi-router.svg")
}

div.block3 {
  display: flex;
  height: 40px;
        width: 40px;
        border-radius: 20%;
        
        background-color: none;
        position: relative;
        align-items: flex-start;
        justify-content: flex-start;
  }
  
  
  
  .block3 li {
      width: 40px;
      height: 40px;
      background-color: none;
      display: block;
      position: absolute;
    bottom: -70px;
    border-radius: 20%;
    animation: up 0.2ms infinite;
    animation-direction: alternate;
    background-image: url("./src/cluster.svg");
  }

  div.block4 {
    display: flex;
    height: 40px;
          width: 40px;
          border-radius: 20%;
          
          background-color: none;
          position: relative;
          align-items: flex-start;
          justify-content: flex-start;
    }
    
    
    
    .block4 li {
        width: 40px;
        height: 40px;
        background-color: none;
        display: block;
        position: absolute;
      bottom: -70px;
      border-radius: 20%;
      animation: up 0.2ms infinite;
      animation-direction: alternate;
      background-image: url("./src/wifi-router.svg")
    }
    
    div.block5 {
      display: flex;
      height: 40px;
            width: 40px;
            border-radius: 20%;
            
            background-color: none;
            position: relative;
            align-items: flex-start;
            justify-content: flex-start;
      }
      
      
      
      .block5 li {
          width: 40px;
          height: 40px;
          background-color:none;
          display: block;
          position: absolute;
        bottom: -70px;
        border-radius: 20%;
        animation: up 0.2ms infinite;
        animation-direction: alternate;
        background-image: url("./src/cluster.svg");
      }




@keyframes up {
    from {
      opacity: 0.5;
      transform: translateY(-500);
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(-900px) rotate(1deg);
    }
  }


  @keyframes move {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}


h1 {
    font-size: 40px;
    margin-top: 0px;
}
.btn-login {
    display: block;
    min-width: 60px;
    border: none;
    background-color: #f7e7e5;
    border-color: #db1f06;
    border-radius: 10px;
    margin-top: 30px;
    padding: 7px;
   
    
  }

  form {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

  }

  .login {
flex-direction: column;
display: flex;
align-items: center;

  }

    input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #d63710;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #db1f06;
  }

  
